## Xcode & Swift
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## User-specific
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

## Swift
.build/
.swiftpm/
/Packages
/Package.resolved

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes

## Agents
.agents/skills/*
!.agents/skills/.gitkeep

## Backups
*.bak
*.swp
*~